@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  @apply bg-gray-100
}

.custom-bg-details, .custom-bg-modal-chart, .custom-bg-drawer {
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-bg-details {
  background-image: url('./assets/blob-scene-haikei.svg');
}

.custom-bg-drawer {
  background-image: url('./assets/blob-haikei.svg');
  background-position: -50px;
}

tbody td {
  padding: 1.4em !important;
  transform-origin: left;
  animation: revealing-bars 4s linear 1;
}

@keyframes revealing-bars {
  0% {
    transform: scaleX(0);
  }

  15% {
    transform: scaleX(1);
  }
}